body {
  background-color: rgb(253 , 251 , 251);
  font-family: Calibri, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: mediumseagreen;
  z-index: 1;
}

#container-article-aside {
  position: relative;
  margin-top: 120px;
  width: 100%;
  margin-bottom: 50px;
}

#container-article-aside h2 {
  font-size: 24px;
  color: rgb(49 , 148 , 94);
  font-weight: 700;
  text-align: center;
  margin: 20px;
}

#titulo {
  display: inline-block;
  font-size: 250%;
  width: 50%;
}

#minha_foto {
  border-radius: 100%;
  border: 3px white solid;
  width: 150px;
  position: fixed;
  right: 5%;
  top: 10px;
  z-index: 2;
}

.lado-esquerdo {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: justify;
  line-height: 1.5;
  margin-left: 15px;
  background-color: rgb(118 , 209 , 118);
  padding: 5px 15px;
  border-radius: 10px;
}

.lado-direito {
  position: absolute;
  display: inline-block;
  width: 30%;
  right: 5%;
  text-align: justify;
  line-height: 1.2;
  border: rgb(61 , 133 , 86) 2px solid;
  border-radius: 10px;
  padding: 8px;
}

#rodape {
  position: relative;
  background-color: rgb(98 , 230 , 157);
  width: 100%;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}

#licoes {
  width: 100%;
  border-radius: 10px;
  background-color: green;
  position: relative;
}

.licoes-aprendidas {
  position: relative;
  left: 20%;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
}

.licoes-a-aprender {
  position: absolute;
  right: 20%;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
}

.licoes-aprendidas h3 {
  color: whitesmoke;
}

.licoes-a-aprender h3 {
  color: whitesmoke;
}

.icons {
  margin-right: 50px;
  width: 30px;
}

#icon-trybe {
  width: 70px;
}

#tabela {
  text-align: center;
  margin: 20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: rgb(49 , 148 , 94);
  font-size: 24px;
  transform: translateX(-2.5%);
}

table {
  width: 50%;
  margin: auto;
  padding: 16px;
}

th , td {
  border: 1px solid green;
  border-collapse: collapse;
  padding: 10px;
}

th {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 600;
  background-color: green;
}

#rodape p {
  font-family: fantasy;
  position: absolute;
  display: inline-block;
  left: 20px;
  top: 10px;
}
