body {
  background-color: rgb(253 251 251);
  font-size: 10px;
  color: rgb(97 204 106);
  letter-spacing: 6px;
  font-family: Nerko One, cursive;
}

#cabecalho {
  position: fixed;
  top: 0;
  margin-left: 45%;
  padding: 25px;
  border: 3px solid rgb(101 206 91);
}

#titulo {
  text-align: justify;
  font-family: Montserrat, sans-serif;
  color: blue;
  font-size: 20px;
  line-height: 20px;
}

#licoes_aprendidas {
  text-align: justify;
}

#minha_foto {
  width: 250px;
}

#licoes_a_aprender {
  text-align: justify;
}

.lado-direito {
  width: 500px;
  float: right;

}

.lado-esquerdo {
  width: 500px;
  float: left;
}

#aprendizado {
  font-size: 15px;
  color: yellowgreen;
  letter-spacing: 4px;
  font-family: Nerko One, cursive;
  text-align: justify;
}

#passagem_de_Aprendizado {
  font-size: 20px;
  color: rgb (23 104 23);
  letter-spacing: 5px;
  font-family: Georgia, Times New Roman, Times, serif;
  text-align: justify;
}

#tabela {
  margin-left: 0;
  margin-bottom: 0;
  border: 2px solid rgb(142 142 197);
}

#rodape {
  float: left;
  margin-left: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  background-color: rgb(54 , 143 , 139);
  padding: 5px;
  font-size: 15px;
}
