body {
  background-color: rgb(253 , 251 , 251);
  margin: 0%;
  font-family: Roboto, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255 , 183 , 195);
  text-align: center;
  border-bottom: 2px solid black;
}

nav ul {
  display: table;
  margin: auto;
  list-style: none;
  justify-content: center;
}

nav li {
  float: left;
  margin: auto;
  list-style: none;
  justify-content: center;
}

nav a:link {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 0 20px 20px;
}

nav a:visited {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 0 20px 20px;
}

nav a:active {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 0 20px 20px;
}

nav a:hover {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 0 20px 20px;
}

#minha_foto {
  border-radius: 300px;
  border: 2px solid black;
}

table {
  text-align: center;
  font-size: small;
  margin-left: 36%;
  margin-right: 36%;
}

#informacoes {
  border: 2px solid black;
  background-color: rgb(188 , 244 , 222);
  margin: auto;
  text-align: center;
  margin-top: 147px;

}

#informacoes h3 {
  background-color: rgb(205 , 229 , 215);
}

.lado-esquerdo {
  float: left;
  width: 47%;
  color: rgb(001 , 002 , 003);
  line-height: 20px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0;
}

.lado-direito {
  float: right;
  width: 47%;
  color: rgb(001 , 002 , 003);
  line-height: 20px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0;
}

#tabelas {
  margin: 35% 20% 0%;
}

#licoes_a_aprender {
  margin-top: 0;
  font-size: medium;
  float: left;
}

#licoes_aprendidas {
  margin-top: 0;
  font-size: medium;
  float: right;
}

#rodape {
  text-align: center;
  font-size: 25px;
  margin-top: 700px;
  background-color: rgb(141 , 184 , 167);
  padding-bottom: 1px;
}

#siga {
  padding-top: 20px;
}

#rodape a:link {
  color: rgb(255 , 183 , 195);
  text-decoration: none;
  padding: 0 20px 20px;
}

#rodape a:visited {
  color: black;
  text-decoration: none;
  padding: 0 20px 20px;
}

#rodape a:hover {
  text-decoration: none;
  color: white;
  padding: 0 20px 20px;
}

#rodape a:active {
  text-decoration: none;
  color: green;
  padding: 0 20px 20px;
}

#logos-redes-sociais {
  display: inline-block;
}

#direitos {
  font-size: 15px;
}
