body {
  background-color: rgb(253 ,251 ,251);
}

#cabecalho {
  position: fixed;
  top: 0px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

td {
  text-align: center;
}