a:hover img {
  border: 2px solid rgb(22 , 104 , 158);
  box-shadow: 0 0 20px rgb(253 , 251 , 251);
}

aside td {
  margin-bottom: 4px;
}

body {
  background-attachment: fixed;
  background-color: rgb(253 , 251 , 251);
  background-image: url('images/background_tec.jpg');
  background-size: cover;
  font-family: sans-serif;
  margin-top: 0;
  max-height: 768px;
  max-width: 1366px;
}

em {
  font-weight: 600;
}

h3 {
  border-bottom: 1px solid rgb(0 , 152 , 255);
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
  text-indent: 0;
}

header #titulo {
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}

#aprendizado {
  display: inline;
  line-height: 30px;
  margin-left: 350px;
  margin-top: 160px;
  padding: 0 20px;
  text-align: justify;
  text-indent: 30px;
  width: 400px;
}

#cabecalho {
  left: 0;
  position: fixed;
  top: 0;
  width: 1366px;
  z-index: 9;
}

#gitHub {
  border-radius: 7px;
  margin: 0 10px;
  width: 28px;
}

#l_aprendidas {
  display: inline-block;
  left: 400px;
  position: relative;
  top: 100px;
  width: 300px;
  z-index: 7;
}

#linkedin {
  border-radius: 5px;
  width: 27px;
}

#lista1 {
  display: inline-block;
  left: 350px;
  position: relative;
  top: 100px;
  z-index: 7;
}

#lista2 {
  display: inline-block;
  left: 450px;
  position: relative;
  top: 100px;
  z-index: 7;
}

#meu_aprendizado {
  display: inline;
  line-height: 30px;
  margin-top: 160px;
  margin-right: 50px;
  padding: 0 20px 13px;
  text-align: justify;
  text-indent: 30px;
  width: 400px;
}

#minha_foto {
  border: 4px solid rgb(22 , 104 , 158);
  border-radius: 30px;
  left: 30px;
  position: fixed;
  top: 20px;
  width: 200px;
  z-index: 10;
}

#navegacao {
  position: fixed;
  top: 10px;
  margin-left: 1200px;
  z-index: 10;
}

#pc {
  display: inline-block;
  left: 50px;
  position: fixed;
  top: 460px;
  width: 150px;
  z-index: 7;
}

#rodape {
  font-size: 12px;
  font-weight: 100;
  left: 0;
  margin-top: 42%;
  padding: 6px 0;
}

#sobre {
  border: 4px solid rgb(22 , 104 , 158);
  display: inline-block;
  font-size: 15px;
  left: 10px;
  padding-bottom: 20px;
  position: fixed;
  top: 245px;
  z-index: 9;
  width: 230px;
}

#sucesso {
  float: left;
  margin-right: 10px;
  width: 213px;
}

#trybe {
  border-radius: 5px;
  width: 27px;
}

.destaque {
  box-shadow: 0 0 10px rgb(253 , 251 , 251);
}

.gradiente {
  background-image: linear-gradient(to right , rgb(0 , 152 , 255) , black);
  color: rgb(253 , 251 , 251);
  opacity: 0.8;
  text-align: center;
}

.lado-direito {
  float: right;
}

.lado-esquerdo {
  float: left;
}

.negrito {
  font-weight: 600;
}

.base {
  background-color: rgb(253 , 251 , 251);
  border: 3px solid rgb(0 , 152 , 255);
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(253 , 251 , 251);
  opacity: 0.8;
  padding: 0 8px;
}

.subtitulo {
  display: none;
}
