* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(253 , 251 , 251);
  font-family: monospace;
  line-height: 20px;
}

#cabecalho {
  position: fixed;
  top: 0%;
}

h1 {
  font-size: 35px;
  color: red;
}

#prin {
  width: 100%;
  background-color: red;
}

#minha_foto {
  width: 10%;
  border-radius: 50%;
}

.lado-esquerdo {
  position: absolute;
  float: left;
  width: 40%;
  background-color: blue;
}

.lado-direito {
  float: right;
  right: 0;
  position: relative;
  width: 30%;
  background-color: green;
  clear: both;
}
