body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0px;
}

#minha_foto {
    width: 55%;
}

#licoes_aprendidas {
    position: relative;
    top: 350px;
}

#licoes_a_aprender {
    position: relative;
    top: 150px;
    left: 250px;
}