/* Minimal CSS Reset */
body, ol, ul, header {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  background-color: rgb(253, 251, 251);
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecalho {
  background-color: rgb(15, 155, 142);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
}

#minha_foto {
  border-radius: 25px;
  max-width: 250px;
}

#links a {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding: 0 20px;
  text-decoration: none;
}

#links a:hover {
  text-decoration: underline;
}

main {
  background-color: rgb(3, 113, 156);
  padding: 100px;
}

ul li, ol li {
  line-height: 28px;
}

.lado-esquerdo {
  float: left;
}

.lado-direito {
  float: right;
}

table, th {
  border: 1px dotted rgb(52, 56, 55);
  width: 500px;
}

#rodape {
  background-color: rgb(52, 56, 55);
  padding: 10px 0;
  text-align: center;
}
